---
import PageWrapper from "../components/PageWrapper/pageWrapper.astro";
---

<PageWrapper title="Demo">
  <div>
    <ul>
      <li><a href="./demo/callback/">Callback Demo</a></li>
      <li><a href="./demo/leak/">Memory Leak Demo</a></li>
      <li><a href="./demo/hook/">Hook Demo</a></li>
    </ul>
  </div>
</PageWrapper>
