---
import PageWrapper from "../components/PageWrapper/pageWrapper.astro";
---

<PageWrapper title="Demo">
  <div>
    <a href="./demo/callback/">Callback Demo</a>
    <a href="./demo/leak/">Leak Demo</a>
  </div>
</PageWrapper>
